:root {
  --size-of-image: 190px;
  --bg-color: #fef9f0;
  --font-family: "Inter", sans-serif;
  --height-of-video: 950px;
  --main-color: #4f3a29;
  --secondary-color: #ffc936;
  --primary-color: #d8ac88;
  --main-container-width: 1200px;
  --header-container-width: 1116px;
  --container-padding: 0 20px;
}
.header__inputs {
  display: flex;
  align-items: center;
  gap: 40px;
  transition: all 0.3s;
  z-index: 10;
  background-color: rgba(79, 58, 41, 0.95);
  width: 100%;
}
.header__inputs.opened {
  transform: translateY(230px);
  visibility: visible;
  opacity: 1;
}

.header__input:nth-child(3){
  flex-grow: 1;
}
body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header__burger {
  z-index: 50;
  position: relative;
  display: none;
  justify-content: flex-end;
}
.burger-lines {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  padding: 5px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.burger-line {
  width: 40px;
  height: 3px;
  background: var(--secondary-color);
  border-radius: 5px;
  transition: all 0.5s;
}
.burger-lines.active .burger-line:nth-child(1) {
  transform: translateY(7.5px) rotate(45deg);
}
.burger-lines.active .burger-line:nth-child(2) {
  width: 0;
}
.burger-lines.active .burger-line:nth-child(3) {
  transform: translateY(-7.5px) rotate(-45deg);
}

#changeBackground,
#changeBackground-header {
  position: absolute;
  right: 50px;
  top: 50%;
  z-index: 40;

  transform: translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffc936;
  transition: opacity 0.3s, scale 0.1s;
}

#changeBackground-header.--changeBackground-rectangle {
  background-color: var(--secondary-color);
  display: none;
  height: 50px;
  max-width: 200px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--main-color);

  position: static;
  transform: none;
  gap: 10px;
}

#changeBackground:hover {
  opacity: 0.7;
}

#changeBackground:active {
  scale: 0.9;
}

.notice {
  position: absolute;
}

.notice {
  font-size: 16px;
  width: 200px;
  color: rgb(247, 117, 117);
}

.main__container {
  max-width: var(--main-container-width);
  padding: var(--container-padding);
  width: 100%;
  margin: 0 auto;
}

.main {
  z-index: 1;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
}

.main h1 {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}

video {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.video__wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 30;
  background: rgba(0, 0, 0, 0.1);
}

.video__wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.video {
  position: absolute;
  max-height: var(--height-of-video);
  height: 100%;
  top: 0;
  z-index: -1;
  width: 101%;
}

.header {
  background-color: #4f3a29;
  padding: 20px 0;
  color: #ffc936;
  font-size: 22px;
  font-family: "Neucha", cursive;
}

.header input::placeholder {
  color: #b4870b;
  font-size: 18px;
}

.header input {
  width: 100%;
  font-size: 18px;
  padding-bottom: 3px;
  border-bottom: 1px solid white;
}

.header__container {
  max-width: var(--header-container-width);
  padding: var(--container-padding);
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: end;
}

.header .button {
  background-color: var(--secondary-color);
  height: 50px;
  max-width: 200px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--main-color);
  transition: opacity 0.3s, scale 0.3s;
}

.header .button:hover {
  opacity: 0.7;
}

.header .button:active {
  scale: 0.9;
}
#addButton {
  transition: all 0.2s;
  display: flex;
  align-items: center;
}
#addButton img {
  width: 40px;
}

#charactersContainer {
  max-width: var(--main-container-width);
  padding: var(--container-padding);
  width: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

#characterDescription {
  width: 100%;
}

.character {
  display: flex;
  gap: 20px;
  width: 100%;
}

.character__text {
  /* color: var(--primary-color); */
  color: white;
}

.character:nth-child(n + 9) .character__text {
  color: var(--main-color);
}

.character__text h2 {
  font-weight: 700;
  line-height: 100%;
  font-size: 30px;
  margin-bottom: 15px;
}

.character__text p {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
}

.character__img img {
  min-width: var(--size-of-image);
  position: absolute;
  transition: all 0.3s;
}

.character__img {
  background-color: #4f3a29;
  position: relative;
  min-width: var(--size-of-image);
  height: var(--size-of-image);
  transition: all 0.2s;
  position: relative;
}

.character__img::before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: -10px;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #ffc936;
  transition: all 0.3s;
}

.character__img:hover::before,
.character:hover .character__img::before {
  left: 0;
  bottom: 0;
}

.character__img:hover img {
  transform: scale(1.05);
}

.character__img:active img {
  transform: scale(1.1);
}

.character:hover .character__img {
  background-color: #ffc936;
}
